<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ChainConfigSection" type="BlockStorm.Utils.ChainConfigSelectionElement, BlockStorm.Utils"/>
	</configSections>
	<appSettings>
		<add key="TargetChainConfig" value="ETHGoerliAlchemy" />
		<add key="AesKey" value="YuT823dh17*dAyb6" />
		<add key="1-WrappedNative" value="0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2" />
		<add key="5-WrappedNative" value="0xB4FBF271143F4FBf7B91A5ded31805e42b2208d6" />
		<add key="56-WrappedNative" value="0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c" />
		<add key="42161-WrappedNative" value="0x82aF49447D8a07e3bd95BD0d56f35241523fBab1" />
		<add key="1-UniswapV2Router" value="0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D" />
		<add key="5-UniswapV2Router" value="0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D" />
		<add key="1-PinkLock02" value="0x71B5759d73262FBb223956913ecF4ecC51057641" />
		<add key="5-PinkLock02" value="0x6c8865007BDe3Ba9BcF84208eC5C11b4dfdf419c" />
		<add key="1-Controller" value="" />
		<add key="1-ControllerOwner" value="" />
		<add key="5-Controller" value="0x36cb21E189B2835409b3820Ff3437E92b5E3851e" />
		<add key="5-ControllerOwner" value="nPbiu08wkQRo1hGFvlSmfm/zYjCusbWaL9Vpt33+c7b8XZDbi2lKnzmNIhFhG9GUUgQAx4JcLm6A7TibZmn+C7i29pTIpOJ59JDoni66xG4=" />
		<add key="1-Relayer" value="" />
		<add key="5-Relayer" value="0x096efC0C835709Da8Eed8FED9FcC8F597a7D80a2" />
		<add key="CloseDoorAppPath" value="C:\\Users\\Terry\\source\\repos\\BlockStorm.Infinity.ClosingDoor\\bin\\Debug\\net6.0\\BlockStorm.Infinity.ClosingDoor.exe" />
	</appSettings>
	<connectionStrings>
		<add name="BlockchainDB"
			 connectionString="Data Source=192.168.1.8;Initial Catalog=Blockchain;User Id=sa;Password=RealFengSd8*8;TrustServerCertificate=true" />
	</connectionStrings>
	<ChainConfigSection>
		<ChainConfigs>
			<ChainConfig Name="ETHGoerliFork" ChainID="5" HttpURL="http://127.0.0.1:8555/" WebsocketURL="http://127.0.0.1:8555/"></ChainConfig>
			<ChainConfig Name="ETHMainNetFork" ChainID="1" HttpURL="http://127.0.0.1:8555/" WebsocketURL="http://127.0.0.1:8555/"></ChainConfig>
			<ChainConfig Name="ETHMainNetLocal" ChainID="1" HttpURL="http://192.168.1.8:8545" WebsocketURL="ws://192.168.1.8:8545"></ChainConfig>
			<ChainConfig Name="ETHMainNetInfura" ChainID="1" HttpURL="https://mainnet.infura.io/v3/94a3a444da5d433eb10b29536057e6c9" WebsocketURL="wss://mainnet.infura.io/ws/v3/94a3a444da5d433eb10b29536057e6c9"></ChainConfig>
			<ChainConfig Name="ETHMainNetAlchemy" ChainID="1" HttpURL="https://eth-mainnet.g.alchemy.com/v2/gNTwg3OHHDuFfYoMvGR6OmsOU7qIIr87" WebsocketURL="wss://eth-mainnet.g.alchemy.com/v2/gNTwg3OHHDuFfYoMvGR6OmsOU7qIIr87"></ChainConfig>
			<ChainConfig Name="ETHMainNetQuickNode" ChainID="1" HttpURL="https://rough-clean-wildflower.quiknode.pro/961aac14702a59d6b5e54f753d10fde9849483d0/" WebsocketURL="wss://rough-clean-wildflower.quiknode.pro/961aac14702a59d6b5e54f753d10fde9849483d0/"></ChainConfig>
			<ChainConfig Name="ETHGoerliAlchemy" ChainID="5" HttpURL="https://eth-goerli.g.alchemy.com/v2/MFJFlKxg9UnkYtuBlXs0cdnWq3t4GAhA" WebsocketURL="wss://eth-goerli.g.alchemy.com/v2/MFJFlKxg9UnkYtuBlXs0cdnWq3t4GAhA"></ChainConfig>
			<ChainConfig Name="ArbitrumQuickNode" ChainID="42161" HttpURL="https://icy-maximum-meme.arbitrum-mainnet.quiknode.pro/24e3835479959d907f38c48b428b049649608a22/" WebsocketURL="wss://icy-maximum-meme.arbitrum-mainnet.quiknode.pro/24e3835479959d907f38c48b428b049649608a22/"></ChainConfig>
			<ChainConfig Name="BSCQuickNode" ChainID="56" HttpURL="https://nameless-rough-sunset.bsc.quiknode.pro/bb70aa9eeda1047f4aaa572b7f9b52945fd1b29c/" WebsocketURL="wss://nameless-rough-sunset.bsc.quiknode.pro/bb70aa9eeda1047f4aaa572b7f9b52945fd1b29c/"></ChainConfig>
			<ChainConfig Name="ArbitrumAlchemy" ChainID="42161" HttpURL="https://arb-mainnet.g.alchemy.com/v2/53xlGVikaL7x7d6hUoAfff44vXIoDjpr" WebsocketURL="wss://arb-mainnet.g.alchemy.com/v2/53xlGVikaL7x7d6hUoAfff44vXIoDjpr"></ChainConfig>
			<ChainConfig Name="ArbitrumInfura" ChainID="42161" HttpURL="https://arbitrum-mainnet.infura.io/v3/a863882fcf5d4877bdeec0d7011a9462" WebsocketURL=""></ChainConfig>
		</ChainConfigs>
	</ChainConfigSection>
</configuration>